<li class="{{#if isFirst}}first{{/if}} {{ cat }}">
  <time datetime="{{ startDate }}">
    {{ dispStartDate }}
    {{#if dispEndDate}}
      <span>- {{ dispEndDate }}</span>
    {{/if}}
  </time>
  <section>
    <header>
      <h2>{{ title }}</h2>
    </header>
    <p>
      {{ desc }}
    </p>
  </section>
</li>