  <time datetime="{{ startDate }}">
    {{displayDates startDate endDate}}
  </time>
  {{#if star}}<img src="media/img/star.png" class="star" />{{/if}}
  <section>
    <header>
      <h2>{{ title }}</h2>
      <a href="/_utils/document.html?rolen/{{ _id }}" target="_blank" class="edit">&rarr;</a>
    </header>
    <p>
      {{markdown desc}}
    </p>
  </section>