<li class="entry {{#if isFirst}}first{{/if}} {{ cat }}" data-id="{{ _id }}">
  <time datetime="{{ startDate }}">
    {{displayDates startDate endDate}}
  </time>
  <section>
    <header>
      <h2>{{ title }}</h2>
    </header>
    <p>
      {{{ desc }}}
    </p>
  </section>
</li>